{% extends "base.html" %}
{% block content %}
<div class="wallet_info">
    <div class="wallet_info_row">
        <h1 style="font-size: 3rem;">Your new wallet</h1>
        <p style="font-size: 2rem;">Save this information to retrieve your wallet! BUT don't show it to anyone.</p>
    </div>

    <div class="wallet_info_row">
        <h1>Wallet address: </h1>
        <p>{{wallet_address}}</p>
    </div>

    <div class="wallet_info_row">
        <h1>Balance: </h1>
        <p>{{balance}} KFT</p>
    </div>

    <div class="wallet_info_row">
        <h1>Mnemonics: </h1>
        <p>{{words}}</p>
        <br>
    </div>

    <div class="wallet_info_row">
        <h1>Public key: </h1>
        <p>{{public_key}}</p>
        <br>
    </div>

    <div class="wallet_info_row">
        <h1>Private key: </h1>
        <p>{{private_key}}</p>
    </div>

    <div class="wallet_info_row">
        <h1>Block height: </h1>
        <p>{{block_height}}</p>
    </div>
</div>
{% endblock %}